mixin form(survey)
  form#survey-form(data-survey=JSON.stringify(survey) data-rooms=JSON.stringify(rooms))
    .row
      .survey-title.columns.medium-8
        label Survey title
          input(type='text' v-model.trim="survey.title" placeholder="Enter a title for your survey" required)

      .survey-room.columns.medium-4
        label Survey room
        input.rooms(type="text" :value="survey.room.title" required @awesomplete-select="roomSelected" @blur="roomSelectionCancel" ref="roomsInput" placeholder="Enter room name")

    .survey-description
      label Description
      textarea(v-model.trim="survey.description" placeholder="Describe your survey")

    h4 Questions
    ul.questions
      li.question(v-for="question, questionIdx in survey.questions")
        .row
          .columns.medium-7
            label Question {{questionIdx+1}}:
            input(type='text' v-model.trim="question.text" placeholder="Enter your question" required)

          .columns.medium-3
            label Type:
            select(v-model="question.type")
              option(v-for="type in questionTypes") {{type}}

          .columns.medium-2
            template(v-if="questionIdx >= 1")
              label &nbsp;

              button.hollow.button.alert.small.remove-button(type="button" @click="remove(survey.questions, question)")
                |
                i.fa.fa-close

        .multi-options(v-if="question.type === 'multi'")
          ol.choices
            li.choice(v-for="choice, choiceIdx in question.choices")
              .row
                .question-choice.columns.medium-9
                  input(type='text' v-model.trim="choice.text" :placeholder="`Option ${choiceIdx+1}`" required)
                .columns.medium-3(v-if="choiceIdx >= 2")

                  button.hollow.button.alert.tiny.remove-button(type="button" @click="remove(survey.questions, question)")
                    |
                    i.fa.fa-close
          button.small.secondary.button(type="button" @click="addChoice(question)")
            i.fa.fa-plus
            |  Add Option
    div
      button.small.secondary.button.expanded(type="button" @click="addQuestion")
        i.fa.fa-plus
        |  Add Question
    br
    br
    .button-group.expanded
      button.secondary.button.hollow.expanded(type="button" @click="saveDraft" :disabled="isConducting") Save Draft
      a.button.expanded(@click="conduct" :disabled="isConducting")
        template(v-if="!isConducting")
          | Conduct Survey &nbsp;
          i.fa.fa-arrow-right
        template(v-else=true)
          | Conducting...



  link(href="/bower/awesomplete/awesomplete.css" rel="stylesheet")
  script(src='/bower/awesomplete/awesomplete.min.js')
  script(src='/static/javascripts/surveys/form.js')
