mixin form(survey)
  pre=JSON.stringify(rooms)
  #survey-form(data-survey=JSON.stringify(survey) data-rooms=JSON.stringify(rooms))
    .survey-room
      select(v-model="survey.roomId" required=true)
        option(disabled selected value="") Choose a Spark room
        option(v-for="room in rooms" v-bind:value="room.id") {{room.title}}

    .survey-title
      label Survey title:
        input(type='text' v-model.trim="survey.title")

    .survey-description
      label Description
      textarea(v-model.trim="survey.description")

    div Questions
    ul.questions
      li(v-for="question in survey.questions")
        label Question:
        input(type='text' v-model.trim="question.text")

        label Type:
        select(v-model="question.type")
          option(v-for="type in questionTypes") {{type}}

        button(type="button" class="small warning button" @click="remove(survey.questions, question)") &#8722; remove


        .multi-options(v-if="question.type === 'multi'")
          div Choices
          ul.choices
            li(v-for="choice in question.choices")
              | choice
              input(type='text' v-model.trim="choice.text")
              button(type="button" class="tiny warning button" @click="remove(question.choices, choice)") &#8722; remove
          button(type="button" class="tiny secondary button" @click="addChoice(question)") &#43; choice

    div
      button(type="button" class="small secondary button" @click="addQuestion") &#43; question

    div
      button(type="button" class="secondary button" @click="saveDraft") Save Draft

    div
      button(type="button" class="primary button" @click="conduct") Conduct Survey
