// From layout
script(src="/bower/jquery/dist/jquery.min.js")
script(src="/bower/vue/dist/vue.min.js")
script(src='/static/javascripts/index.js')

#survey(data-survey-url=`/surveys/${survey.id}/survey.json`)
  div(v-for="question in survey.questions")
    div(v-if="question.type === 'multi' && question.responses.length")
      pie-chart(:data="responsesByChoice(question)" legend="bottom" donut="true")

// From show page
script(src='/bower/chart.js/dist/Chart.bundle.min.js')
script(src='/bower/chartkick/chartkick.js')
script(src='/bower/vue-chartkick/dist/vue-chartkick.min.js')
script(src='/bower/socket.io-client/dist/socket.io.slim.js')
script(src='/static/javascripts/surveys/show.js')
