script(src="/bower/vue/dist/vue.min.js")
script(src='/bower/chart.js/dist/Chart.bundle.min.js')
script(src='/bower/chartkick/chartkick.js')
script(src='/bower/vue-chartkick/dist/vue-chartkick.min.js')

#chart: pie-chart(:data=JSON.stringify(responses) legend='bottom' donut='true')
script new Vue({el: '#chart'})
