extends layout.pug

block content
  h2 Dashboard

  a.button.new(href="/surveys/new") + New Survey

  if surveys.length
    .content
      h3 Drafts
        ul.surveys
          each survey in surveys
            li(link-href=`/surveys/${survey.id}`)
              a.title= survey.data.title
