extends layout.pug

block content
  h2
    img.chat-bubble(src='/static/images/chat-bubble.png')
    span Dashboard

  a(href="/surveys/new") ➕ Survey

  pre= JSON.stringify(currentUser)
  .content
    ul
      each survey in surveys
        li(link-href=`/surveys/${survey.id}`)
          .title= survey.data.title
          // .raw= JSON.stringify(survey)
