extends layout.pug

block content
  h2 Dashboard

  a.button.new(href="/surveys/new") + New Survey

  .content
    - var activeSurveys = surveys.active || []
    if activeSurveys.length
      h3 Active Surveys
        ul.surveys
          each survey in activeSurveys
            li(link-href=`/surveys/${survey.id}`)
              a.title= survey.data.title

    - var draftSurveys = surveys.draft || []
    if draftSurveys.length
      h3 Draft Surveys
        ul.surveys
          each survey in draftSurveys
            li(link-href=`/surveys/${survey.id}/edit`)
              a.title= survey.data.title
