extends layout.pug

block content
  h2
    img.chat-bubble(src='/static/images/chat-bubble.png')
    span Users

  .content
    ul
      each user in users
        li= JSON.stringify(user)

    h3 New Survey

    #survey-form
      .survey-title
        label Survey title:
        input(v-model="title")

      div Questions
      ul.questions
        li(v-for="question in questions")
          label Question:
          input(v-model="question.text")

          label Type:
          select(v-model="question.type")
            option(v-for="type in questionTypes") {{type}}

          button(type="button" @click="remove(questions, question)") ➖ remove


          .multi-options(v-if="question.type === 'multi'")
            div Choices
            ul.choices
              li(v-for="choice in question.choices")
                | choice
                input(v-model="choice.text")
                button(type="button" @click="remove(question.choices, choice)") ➖ remove
            button(type="button" @click="addChoice(question)") ➕ choice

      button(type="button" @click="addQuestion") ➕ question
