extends layout.pug

block content
  h2
    img.chat-bubble(src='/static/images/chat-bubble.png')
    span Users

  ul
    each user in users
      li= JSON.stringify(user)

  h3 Me
  div= JSON.stringify(me)

