html
  head
    title Survey Bot
    link(href='/static/stylesheets/index.css' type='text/css' rel='stylesheet')

  body
    header.main-header
      h1
        img.cisco(src='/static/images/cisco.png')
        span.spark Spark
        img.spark-logo(src='/static/images/spark-logo.png')
        | Survey Bot
        span

      if currentUser
        .current-user
          img.avatar(src=currentUser.profile.avatar width=100 height=100)
          .name= currentUser.profile.displayName
          // .data= JSON.stringify(currentUser)
          .logout
            a(href='/auth/logout') Logout

    .row
      .small-12.small-centered.medium-10.large-8.columns
        section.content-box
          block content

  script(src="/bower/vue/dist/vue.min.js")
  script(src="/static/javascripts/index.js")
