doctype html
html(lang='en')
  head
    title Survey Bot
    link(href='/static/stylesheets/index.css' type='text/css' rel='stylesheet')
    script(src="/bower/jquery/dist/jquery.min.js")
    script(src="/bower/vue/dist/vue.min.js")

  body
    header.main-header.top-bar
      div.brand.top-bar-left
        img.cisco(src='/static/images/cisco.png')
        span.spark Spark
        | &nbsp;
        h1 Survey Bot

      if currentUser
        .current-user.top-bar-right
          img.avatar(src=currentUser.profile.avatar width=32 height=32)
          span.name= currentUser.profile.displayName
          // .data= JSON.stringify(currentUser)
          span.logout
            a(href='/auth/logout') Logout

    .row
      .small-12.small-centered.medium-10.large-8.columns
        section.content-box
          block content
