extends layout.pug

block content
  a(href="/auth/spark") Login with Cisco Spark

  h2 Dev Login
  form(action="/auth/local" method="POST")
    input(name="username")
    input(name="password" type="hidden" value='just need something here')
    button Submit
