extends layout.pug

block content
  p
    button#clear-responses Clear
    button#restore-responses Restore

  #survey(
    data-survey=JSON.stringify(survey)
    data-responses-url=`/surveys/${survey.id}/responses`
    data-subscription-token=survey.id
  )
    h1
      span {{survey.data.title}}
    h2
      span {{survey.data.description}}

    span Created on {{survey.created}}

    .content
      ul.questions
        li.row(v-for="[question, responses], index in questionAndResponses()")
          .columns.large-8
            h2 {{index+1}}. {{question.text}}
            h3 {{responses.length}} responses

            .responses(v-if="question.type == 'text'")
              .row(v-for="response in responses")
                .columns.large-4
                  span {{response.taker.userData.personDisplayName}}
                .columns.large-8
                  span {{response.response}}

            .responses(v-if="question.type == 'multi'")
              .row(v-for="[choice, choiceResponses] in responsesFor(question, responses)")
                .columns.large-4
                  span {{choice.text}}
                .columns.large-4
                  span {{choiceResponses.length}}
                .columns.large-4
                  span(v-for="response in choiceResponses") {{response.taker.userData.personDisplayName}}

  script(src='/bower/socket.io-client/dist/socket.io.slim.js')
  script(src='/static/javascripts/surveys/show.js')
