extends layout.pug

block content

  #survey(
    data-survey=JSON.stringify(survey)
    data-responses-url=`/surveys/${survey.id}/responses`
    data-subscription-token=survey.token
  )

    nav(aria-label="You are here:" role="navigation")
      ul.breadcrumbs
        li
          a(href="https://sparksurvey.ngrok.io/") Dashboard
        li
          span {{survey.data.title}}

    h1
      span {{survey.data.title}}
      small  {{survey.data.description}}

    h6 Created on {{survey.created}}



    div.secondary.button-group.float-right
      a#clear-responses.button Clear
      a#restore-responses.button Restore



    .content
      ul.questions
        li.row(v-for="{ question, responses }, index in questionAndResponses()")
          .columns.large-8
            h2 {{index+1}}. {{question.text}}
            p {{responses.length}} responses

            .responses(v-if="question.type == 'text'")
              .row(v-for="response in responses")
                .columns.large-4
                  span {{response.taker.userData.personDisplayName}}
                .columns.large-8
                  span {{response.response}}

            .responses(v-if="question.type == 'multi'")
              pie-chart(:data="pieChartData(question, responses)")

              .row(v-for="[choice, choiceResponses] in responsesFor(question, responses)")
                .columns.large-4
                  span {{choice.text}}
                .columns.large-4
                  span {{choiceResponses.length}}
                .columns.large-4
                  span(v-for="response in choiceResponses") {{response.taker.userData.personDisplayName}}

  script(src='/bower/chart.js/dist/Chart.bundle.min.js')
  script(src='/bower/chartkick/chartkick.js')
  script(src='/bower/vue-chartkick/dist/vue-chartkick.min.js')
  script(src='/bower/lodash/dist/lodash.min.js')

  script(src='/bower/socket.io-client/dist/socket.io.slim.js')
  script(src='/static/javascripts/surveys/show.js')
